<div class="page-header">
  <h1><%= @article.title %></h1>
</div>
<div class="well">
  <strong>Description:</strong><br/> <%= @article.description %>
</div>
<hr>
<p>
  <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-success" %>
  <%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
  <%= link_to "Back to index", articles_path, class: "btn" %>
</p>